Dataprocessing/DataprocessingApi/schemas/xml/ArrayOfYoutubeTrendingVideo.xml

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <xs:element name="ArrayOfYoutubeTrendingVideo">
    <xs:complexType>
      <xs:sequence>

        <xs:element name="YoutubeTrendingVideo" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>

              <xs:element name="videoid" type="xs:string"></xs:element>
              <xs:element name="trendingdate" type="xs:dateTime"></xs:element>
              <xs:element name="title" type="xs:string"></xs:element>
              <xs:element name="channeltitle" type="xs:string"></xs:element>
              <xs:element name="categoryid" type="xs:int"></xs:element>
              <xs:element name="publishtime" type="xs:dateTime"></xs:element>
              <xs:element name="tags" type="xs:string"></xs:element>
              <xs:element name="views" type="xs:int"></xs:element>
              <xs:element name="likes" type="xs:int"></xs:element>
              <xs:element name="dislikes" type="xs:int"></xs:element>
              <xs:element name="commentcount" type="xs:int"></xs:element>
              <xs:element name="thumbnaillink" type="xs:string"></xs:element>
              <xs:element name="commentsdisabled" type="xs:boolean"></xs:element>
              <xs:element name="ratingsdisabled" type="xs:boolean"></xs:element>
              <xs:element name="videoerrororremoved" type="xs:boolean"></xs:element>
              <xs:element name="description" type="xs:string"></xs:element>
              <xs:element name="countrycode" type="xs:string"></xs:element>

            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>